/* left section -> от flexbox-a лявата му част, която държи заглавието в случая */

/* header styles */
.header {
  padding-top: 20px;
  padding-bottom: 15px;
  height: 5rem;

  margin-left: 5rem;
  margin-right: 5rem;

  display: flex;
  align-content: space-around;
  justify-content: space-between;

  align-items: center;

  flex-direction: row;
  background-color: white;

  background-color: white;
}

/* h1 styles -> site name*/
.header h1 {
  /* vw === ViewPoint, resize-ва се при промяна page-a, което прави самия текст responsive */
  font-size: 3.5vw;
  font-family: 'Press Start 2P', cursive;
  font-weight: normal;
  margin: 0;
  /* тук надолу са цветовете на заглавието */
  /* color: rgb(47, 64, 79);

  animation-duration: 3s;
  animation-name: slidein; */

  background-image: linear-gradient(
    -225deg,
    #201261 0%,
    #203886 29%,
    #5159c7 67%,
    #88addf 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


@keyframes slidein {
  from {
    margin-left: 60%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.border-bottom {
  margin-left: 2rem;
  margin-right: 2rem;

  border-bottom: dashed;
  border-color: white;

  overflow: hidden;
  border-bottom: dashed;
}
