/* left section -> от flexbox-a лявата му част, която държи заглавието в случая */

.left-section {
  margin-right: 2rem;
  margin-left: 2rem;
}

/* header styles */
.header {
  padding-top: 15px;
  padding-bottom: 30px;
  height: 5rem;

  display: flex;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;

  flex-direction: row;
  background-color: white;

  background-color: white;
}

/* h1 styles -> site name*/
.header h1 {
  /* vw === ViewPoint, resize-ва се при промяна page-a, което прави самия текст responsive */
  font-size: 4vw;

  font-family: 'Rubik Glitch', cursive;
  font-weight: normal;
  margin: 0;
  /* тук надолу са цветовете на заглавието */
  color: rgb(47, 64, 79);
}
