/* left section -> от flexbox-a лявата му част, която държи заглавието в случая */

/* header styles */
.header {
  padding-top: 15px;
  padding-bottom: 30px;
  height: 5rem;

  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;

  flex-direction: row;
  background-color: white;

  background-color: white;
}

/* h1 styles -> site name*/
.header h1 {
  /* vw === ViewPoint, resize-ва се при промяна page-a, което прави самия текст responsive */
  font-size: 3.5vw;
  font-family: 'Press Start 2P', cursive;
  font-weight: normal;
  margin: 0;
  /* тук надолу са цветовете на заглавието */
  color: rgb(47, 64, 79);

  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 60%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
