/* search button styles */
.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  border: 0px;
  cursor: pointer;
  height: 40px;
  width: 110px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background-color: rgb(47, 64, 79);
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.search-button:hover {
  background-image: linear-gradient(to left, #3c9a70, #444ce0);
}

.search-button:active,
.search-button:focus {
  background: #90ed6e;
  outline: 0;
}

.search-button:before {
  /* left arrow */
  content: '';
  position: relative;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent rgb(199, 218, 211) transparent;
}

.search-button:hover:before {
  border-right-color: #e54040;
}

.search-button:focus:before,
.search-button:active:before {
  border-right-color: #c42f2f;
}

.search-button::-moz-focus-inner {
  /* remove extra button spacing for Mozilla Firefox */
}
