/* right-section ->
 от flexbox-a дясната част, която държи search bara и search бутона 
 */

.right-section {
  flex: 1;
  max-width: 550px;
  display: flex;
  align-items: center;
}

/* search-bar styles */
.search-bar {
  flex: 1;
  width: 0;
  padding: 20px;
  float: left;
  font: bold 18px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: none;
  background-color: rgb(199, 218, 211);
}

/* тук променям самия текс в бара как да изглежда */
input[type='text']::placeholder {
  text-align: left;
  font-size: 15px;
}

/* това е когато цъкнем на полето за търсене */
.search-bar:focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.8) inset;
}

.search-bar::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.search-bar:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.search-bar:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
