/* search button styles */
.search-button {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  height: 4rem;
  width: 8rem;
  border: none;

  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  font-weight: normal;

  color: #fff;
  text-transform: uppercase;
  background-color: rgb(47, 64, 79);
}

.search-button:hover {
  background-image: linear-gradient(to top, #9ebada, #2F404F);
  border: solid 2px #2F404F;
}

.search-button:active {
  background: #2F404F;
  outline: 0;
}
