.sidebar{
  display: flex;
  flex-direction: column;
  width: 15em;
  background-color: gray;
}

.sidebar-element{
  display: flex;
  flex-direction: row;
  height: 8em;
  align-content: stretch;
  align-items: center;
  
}

.icon{
  height: 5em;
  width: 5em;
  margin:1em;
}