@import "style.css";

.sidebar {
  display: flex;
  flex-direction: column;
  width: 6em;
  background-color: var(--font-background-color);
  transition: all 0.5s ease;
  overflow: hidden;

  -webkit-box-shadow: 0px 0px 21px -4px #000000;
  box-shadow: 0px 0px 21px -4px #000000;
}
.active {
  width: 20em;
}

.sidebar-element {
  display: flex;
  flex-direction: row;
  height: 3.5em;
  align-items: center;
  margin: 0.5em;
  justify-content: flex-start;
  align-content: center;
  cursor: pointer;
  border-radius: 0.5rem;
}

#toggle-button {
  height: 5rem;
}

.sidebar-element:hover * {
  color: var(--font-background-color);
  transition: 0.25s ease;
}

.sidebar-element:hover {
  background-color: var(--font-color);
  transition: 0.25s ease;
}

.sidebar-element-text {
  display: block;
  opacity: 0;
  font-family: "Press Start 2P", cursive;
  font-weight: normal;
  font-size: 1em;
  color: var(--font-color);
  overflow: hidden;
  transition: 0.25s ease;
}

.sidebar.active .sidebar-element-text {
  font-family: "Press Start 2P", cursive;
  font-weight: normal;
  font-size: 1em;
  display: flex;
  opacity: 1;
  transition: 0.25s ease;
}

.icon {
  position: relative;
  font-size: 2em;
  display: block;
  margin-left: 1rem;
  margin-right: 0.2em;
  color: var(--font-color);
  width: 2em;
}

.svgIcon {
  width: 1.5em;
  height: 1.5em;
  filter: var(--sidebar-icon-color);
}

.sidebar-element:hover * .svgIcon {
  color: #2f404f;
  filter: var(--sidebar-icon-color-hover);
}

.divider {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: stretch;
  margin-top: 6px;
}

.line {
  width: 70%;
  height: 0.2em;
  transition: 0.75s ease;
  border-bottom-style: dashed;
  border-color: rgba(199, 218, 211, 0.5);
}

.sidebar.active .line {
  width: 85%;
  transition: 0.75s ease;
}

.toggle {
  --width: 3rem;
  --height: calc(var(--width) / 2);
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #c7dad3;
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
  background-color: var(--font-color);
}

.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}
