/* main styles */

body {
  /* This style below will be inherited */

  margin: 0;
}

:root {
  --font-color-light: #c7dad3;
  --background-color-light: #2f404f;
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
