/* main styles */

body {
  /* This style below will be inherited */

  margin: 0;
}

:root {
  --font-color: #c7dad3;
  --font-background-color: #2f404f;
  --content-background: white;
  --header-color: #2f404f;
  --header-border-color: black;
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100vh;
  background-color: var(--content-background);
  transition: .25s ease;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
}
